@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');
$mainColor: #222;
$sudokuBoxMeasure: 65px;

//Responsive design variables
$sudokuBoxSize1: 50px;
$sudokuBoxSize2: 40px;
$sudokuBoxSize3: 35px;

$size1: 650px;
$size2: 500px;
$size3: 400px;